<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>
        <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
            <div class="container"> <!--Style root div with .container class -->
                {% csrf_token %}
                <h1>Add a review about <strong>{{dealer}}</strong></h1>
                <div class="form-group"> <!--Style second div with .form-group class -->
                    <label for="content"><b>Enter the review content</b></label>
                    <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                    <div class ="form-check">
                        <label class="form-check-label" for="purchasecheck">
                            <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                            Has purchased the car from ? (select purchased car information below if checked)
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="car"><b>Select your car(model-make-year)</b></label>
                            <select name="car" id="car" class="form-select" required>
                                {% for model in models %}
                                    <option selected value={{model.id}}>{{model.name}}-{{model.car_make.name}}-{{ model.year|date:"Y" }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="purchasedate"><b>Select Your Purchase Date</b></label>
                        <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
                    </div>
                    
                    <button class="btn btn-primary" type="submit">Submit</button> 
                </div>
                {% if message %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
                {% if error %}
                <div class="alert alert-warning">
                    {{ error }}
                </div>
                {% endif %}
            </div>
        </form>
    </body>
</html>