<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
        <div>
            <h3>Reviews for {{dealer}} </h3>
            {% if user.is_authenticated %}
            
            {% endif %}
        </div>
        <div class="card-columns " style="margin-left: 200px; margin-right: 200px; margin-top: 50px;">
            {% for review in reviews %}
                <div class="card ">
                    {% if review.sentiment == "positive"%}
                        <img src="{{MEDIA_URL}}/emoji/positive.png" class="card-img-left" width="30" height="30">
                    {% elif review.sentiment == "nuetral"%}
                        <img src="{{MEDIA_URL}}/emoji/nuetral.png" class="card-img-left" width="30" height="30">
                    {% else %}
                        <img src="{{MEDIA_URL}}/emoji/negative.png" class="card-img-left" width="30" height="30">
                    {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{review.car_model}}, {{review.car_make}}</h4>
                            <h4 class="card-title">{{review.car_year}}</h4>
                            <p class="card-text">{{review.review}}</p>
                        </div>
                </div>
            {% endfor %}
        </div>
            
       
    <!--Add a nav bar here -->

    <!-- Add reviews as cards -->

    </body>

</html>